@charset "UTF-8";
[v-cloak] {
  display: none !important; }

html {
  color: #606060 !important;
  font-size: 18px;
  line-height: 1.6em;
  font-family: "Josefin Sans", sans-serif;
  background: url("/img/bg.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  @media (max-width: 1200px) {
    html {
      font-size: 16px; } }
  @media (max-width: 1000px) {
    html {
      font-size: 14px; } }
  html h1, html h2, html h3, html h4, html h5, html h6, html label {
    font-weight: 600 !important; }
  html h1, html h2, html h3, html h4, html h5, html h6, html input, html textarea, html select, html button, html p {
    color: #606060;
    font-family: "Josefin Sans", sans-serif; }

body a {
  color: #008bc0;
  transition: color 0.2s; }
  body a:hover {
    color: #00668d; }

/* FORM */
input, textarea, select {
  border: 1px solid #e2f1f7 !important;
  padding: 0.5em;
  font-size: 1em; }

/* TAKKI */
.takki,
a.takki,
button.takki {
  text-transform: uppercase;
  font-size: 1em;
  padding: 0.8em 1.6em;
  display: inline-block !important;
  font-weight: 600 !important;
  background: none !important;
  text-decoration: none !important;
  line-height: 1 !important;
  border: 1px solid #008bc0 !important;
  color: #008bc0 !important;
  transition: color 0.2s, background 0.2s; }
  @media (max-width: 768px) {
    .takki,
    a.takki,
    button.takki {
      display: block !important;
      width: 100% !important;
      box-sizing: border-box !important;
      text-align: center !important;
      margin-bottom: 0.5em !important; } }
  .takki span,
  a.takki span,
  button.takki span {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
    line-height: 1 !important; }
  .takki.focus, .takki.active, .takki:hover,
  a.takki.focus,
  a.takki.active,
  a.takki:hover,
  button.takki.focus,
  button.takki.active,
  button.takki:hover {
    text-transform: uppercase;
    padding: 0.8em 1.6em;
    cursor: pointer;
    background: #00668d !important;
    border: 1px solid #00668d !important;
    color: #FFF !important; }

/* FORSÍÐUMYNDIR */
.forsidumyndir {
  position: relative; }
  .forsidumyndir .forsidumynd {
    background-color: rgba(255, 255, 255, 0.9);
    background-position: center center;
    display: block;
    width: 100%;
    height: 50vw;
    min-height: 300px;
    max-height: 700px;
    background-size: cover; }

/* NAV */
nav.top {
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%; }
  nav.top a {
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 0.6em 0.9em;
    white-space: nowrap;
    text-align: center;
    color: #008bc0;
    transition: color 0.2s, background 0.2s;
    font-weight: 600; }
    nav.top a:hover {
      color: #00668d;
      background: #e2f1f7; }
  nav.top > div.active > a {
    color: #00668d;
    background: #e2f1f7; }
  nav.top .being_viewed > a {
    color: #00668d;
    background: #e2f1f7; }
  nav.top > div {
    border-right: 1px solid #e2f1f7;
    position: relative;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%; }
    nav.top > div:first-child {
      margin-left: 0.5em;
      border-left: 1px solid #e2f1f7; }
    nav.top > div:last-child {
      margin-right: 0.5em; }
    nav.top > div.opened > div {
      display: block; }
    nav.top > div > div {
      border: 1px solid #e2f1f7;
      background: rgba(255, 255, 255, 0.9);
      position: absolute;
      left: -1px;
      right: -1px;
      display: none; }
      nav.top > div > div a {
        font-size: 1em;
        border-bottom: 1px solid #e2f1f7; }
      nav.top > div > div:last-child {
        border-bottom: 0px solid #e2f1f7 !important; }

/* PRODUCT */
.product__mynd {
  border: 1px solid #e2f1f7;
  border-bottom: 2px solid #e2f1f7; }
  .product__mynd a {
    display: block;
    text-align: center;
    background: #FFF; }
    .product__mynd a img {
      display: inline-block;
      margin: 0 auto;
      max-width: 100%;
      max-height: 500px !important;
      height: auto !important; }

.product__aukamynd {
  text-align: center;
  display: block; }
  .product__aukamynd a {
    margin: 0 auto;
    display: inline-block;
    text-align: center; }
  .product__aukamynd img {
    margin: 0 auto;
    display: inline-block;
    border: 1px solid #e2f1f7; }

/* CONTAINERS */
.cart-widget-container {
  float: right; }
  @media (max-width: 768px) {
    .cart-widget-container {
      float: none !important;
      text-align: center; } }

header {
  max-width: 1400px;
  display: block;
  padding-left: 0;
  border-bottom: 1px solid #e2f1f7;
  padding-right: 0;
  margin: 0 auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  /*margin-top: 2em;
	margin-bottom: 2em;*/
  padding-top: 2em;
  padding-bottom: 2em; }
  header h1 {
    position: relative;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    color: #008bc0;
    font-size: 240%; }
    header h1:before, header h1:after {
      content: " ";
      left: 0;
      right: 0;
      margin: 0 auto;
      position: absolute;
      width: inherit !important;
      clear: both;
      display: inline-block; }
    header h1:before {
      top: 0;
      border-bottom: 3px solid rgba(96, 96, 96, 0.75); }
    header h1:after {
      bottom: 0;
      border-top: 3px solid rgba(96, 96, 96, 0.75); }

.menu {
  position: relative;
  z-index: 100;
  border-top: 1px solid #e2f1f7;
  border-bottom: 1px solid #e2f1f7;
  background: rgba(255, 255, 255, 0.9); }

.content-container {
  border-left: 1px solid #e2f1f7;
  border-right: 1px solid #e2f1f7;
  background: rgba(255, 255, 255, 0.9);
  max-width: 1400px;
  box-sizing: border-box;
  margin: 0 auto; }

.content {
  box-sizing: border-box;
  padding: 25px;
  min-height: 600px; }

.haus {
  position: relative;
  padding: 2em;
  background: rgba(255, 255, 255, 0.9); }

.footer {
  background: rgba(96, 96, 96, 0.95);
  min-height: 200px;
  width: 100%;
  display: block; }

/* CARD */
.card {
  position: relative;
  display: block;
  transition: background 0.2s;
  background: #e2f1f7; }
  .card:hover {
    background: #eaf5f9; }
    .card:hover .card__image {
      opacity: 0.8; }
  .card__image {
    transition: opacity 0.2s;
    position: relative;
    display: block;
    background-color: #FFF;
    border: 1px solid #e2f1f7;
    min-height: 240px; }
  .card__text {
    font-weight: 600;
    padding: 0.6em;
    position: relative;
    display: block;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0; }

/* UIKIT */
.uk-notify-message {
  font-size: 150%;
  background: #008bc0 !important;
  line-height: 100%;
  padding: 1em; }
  .uk-notify-message a {
    color: #FFF !important; }
    .uk-notify-message a.uk-close {
      display: none !important;
      visibility: hidden !important; }
    .uk-notify-message a:hover {
      color: #FFF !important; }

/* CART WIDGET */
#cart-widget {
  position: relative;
  display: inline-block; }
  #cart-widget .cart-widget__link {
    display: block; }
  #cart-widget .cart-widget__link i {
    font-size: 3.5em; }
  #cart-widget .cart-widget__info {
    text-align: center !important;
    transition: opacity 0.5s;
    position: absolute;
    top: 3px;
    right: 9px;
    vertical-align: middle;
    background: #FFF;
    line-height: 22px;
    height: 22px;
    width: 22px;
    font-weight: 600;
    border-radius: 50%;
    font-size: 11px; }
  #cart-widget a {
    color: #008bc0; }
    #cart-widget a:hover {
      color: #008bc0; }

/*# sourceMappingURL=app.css.map */
